<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/customStyle.css">

<body>


  <div class="kotak">
    <h1>Login</h1>
    <hr>
    <div class="form-input">
      <form class="my-form" method="post" action="http://localhost:3000/login" role="form">
        <input type="email" name="username" placeholder="Email addres" class="user" id="username">
        <input type="password" name="password" placeholder="Password" class="password" id="password">
    </div>
    <div class="form-button">
      <input type="submit" class="button" value="Login" />
      </form>
      <a href="/register" class="change-login">Belum Punya Akun?</a>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-footer">
    <div>
      &copy; CopyRight 2020 - XI RPL 1
    </div>
  </footer>
  <!-- EndFooter -->
</body>

</html>