<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="stylesheets/customStyle.css">

<body>


  <div class="kotak">
    <h1>Register</h1>
    <hr>
    <div class="form-input">
      <form class="my-form" method="post" action="/register/" role="form">
        <input type="text" name="nama" placeholder="Nama Lengkap" class="user">
        <p></p>
        <input type="email" name="name" placeholder="Email addres" class="user">
        <input type="password" placeholder="Password" class="password">
    </div>
    <div class="form-button">
      <input type="submit" class="button" value="Register" />
      </form>
      <a href="/login" class="change">Sudah Punya Akun?</a>
    </div>
  </div>

  <!-- footer -->
  <footer class="bg-footer">
    <div>
      &copy; CopyRight 2020 - XI RPL 1
    </div>
  </footer>
  <!-- EndFooter -->
</body>

</html>